# Ignore everything by default:
/*
/*/

# But allow those files and folders:
!/LICENSE
!/README.md
!/.editorconfig
!/.gitattributes
!/.gitignore
!/.github
!/.npmrc
!/.prettierignore
!/.vscode
!/src
!/test
!/package.json
!/azure-pipelines.yml
!/greenkeeper.som
!/wallaby.js

# But make sure to ignore those regardless:
.DS_Store
Thumbs.db
